.home-container{
    width: 80%;
    margin: 0px auto;
    height: 100%;
    background-color: silver;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section, .form, .todo{
    width: 100%;
}

.form{
    margin: 0px;
}
.todo{
    height: 2rem;
}

.todo-list li{
    width: 100%;
    list-style: none;
}
.todo-list{
    padding: 0px;
}
.list-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}
.item-value{
    width: 90%;
    word-wrap: break-word;
}

.delete{
    padding: 5px;
}

.footer {
    margin-top: 50px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
li:nth-child(odd){
    background: #c7e5e0;
}
.footer span, i{
    cursor: pointer;
}